h1
{
  color: #BFDE42;
  font-size: 1rem;
}

ul
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo 
{
  width: 70vw;
  margin: 0 auto;
}

@media screen and (min-width:700px){
  
  h1
  {
    font-size: 3rem;
  }
}